*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s;
  &:focus{
    outline: none;
  }
}
html{
  //height: auto;
  height: 100%;
  font-size: 1rem;
}
body{
  overflow-x: hidden;
  //height: auto;
  font-size: .9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  //line-height: 1.5;
  color: $c-text;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $c-body;
}
.content{
  width: 100%;
  padding: 1rem 15px;
  &-wrapper{
    width: calc( 100% - 250px);
    margin-left: 250px;
    margin-top: 65px;
    @media( max-width: $mq-sm){
      width: 100%;
      margin-left: 0;
    }
  }
  &-header{
    padding: 1rem 15px 0;
    position: relative;
    .row{
      margin-bottom: 0;
    }
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $c-white;
      box-shadow: 1px 0px 5px rgba(#000, .2);
      z-index: -1;
    }
    & .page-title{
      margin-bottom: 0px;
      margin-top: 8px;
      line-height: 30px;
      font-size: 25px;
      color: $c-blue;
    }
    & .breadcrumb{
      background-color: transparent;
      padding: 0.75rem 0;
      margin-bottom: 10px;
      a{
        color: $c-blue;
      }
    }
  }
}


.bg-default{
  background-color: $c-blue;
  color: $c-white;
}

.card{
  border: none;
  border-radius: 0;
  box-shadow: 1px 0px 5px $shadow;
  &-header{
    border-radius: 0;
    &:first-child{
      border-radius: 0;
    }
  }
}
.row{
  margin-bottom: 15px;
}