.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  z-index: 3;
  &-title{
    width: 250px;
    display: flex;
    align-items: center;
    background-color: $c-white;
    color: $c-blue;
    border-right: 1px solid $shadow;
    & > .header-title-large{
      display: block;
      width: 100%;
      font-size: 27px;
      text-align: center;
      
    }
    & >.header-title-min{
      display: none;
      transform: scale(.9);
    }
  }
  &-content{
    width: calc( 100% - 250px);
    display: flex;
    justify-content: space-between;
    background-color: $content-back;
    color: $content-color;
    box-shadow: 1px 0px 5px $shadow;
    &-options{
      height: 65px;
      display: flex;
      & a{
        width: 30px;
        height: 100%;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $c-white;
        & i{
          font-size: 20px;
        }
      }
    }
    &-user{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      padding: 0 10px;
      cursor: pointer;
      animation: all .3s;
      &-img{
        width: 30px;
        height: 30px;
        border: 1px solid $menu-icon-color;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      &-name{
        color: $c-white;
        font-size: 14px;
      }
      &:hover{
        background-color: rgba($c-white, .2);
      }
    }
  }
  @media( max-width: $mq-sm){
    display: flex;
    flex-direction: column;
    &-title{
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      border-right: none;
      & > .header-title-large{
        display: none;
      }
      & >.header-title-min{
        display: block;
        width: 100%;
        font-size: 20px;
        text-align: center;
      }
    }
    &-content{
      width: 100%;
      height: 35px;
      display: flex;
      &-options{
        height: 35px;
        display: flex;
        & a{
          & i{
            font-size: 15px;
          }
        }
      }
      &-user{
        width: 40px;
        padding: 0 5px;
        &-img{
          width: 30px;
          height: 30px;
          border: 1px solid $menu-icon-color;
          border-radius: 50%;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &-name{
          display: none;
        }
      }
    }
  }
}