.main-sidebar{
    position: fixed;
    top: 65px;
    left: 0;
    width: 250px;
    height: calc( 100% - 65px);
    background-color: $side-back;
    border-right: 1px solid $shadow;
    color: $side-color;
    padding: 0 5px;
    z-index: 2;
    & a{ color: $side-color; }
}

.sidebar{
    &-search{
        padding: 1.5rem 10px 0;
        position: relative;
        & label{
            //opacity: 0;
            //pointer-events: none;
            opacity: 1;
            pointer-events: all;
            font-size: 9px;
            color: $side-color;
            margin: 0;
            margin-bottom: 5px;
        }
        & input{
            //opacity: 0;
            //pointer-events: none;
            opacity: 1;
            pointer-events: all;
        }
        & .btn-search{
            position: absolute;
            bottom: 0;
            right: 10px;
            background-color: transparent;
            display: block;
            width: 39px;
            height: 39px;
            //pointer-events: none;
            pointer-events: all;
        }
        &:hover{
            label{
                opacity: 1;
            }
            & input{
                opacity: 1;
                pointer-events: all;
            }
            & .btn-search{
                pointer-events: all;
            }
        }
    }
    hr{ margin: 1rem 0; }
    &-nav{
        &-list{ list-style: none; }
        &-item{
            margin: .5rem 0;
            &-link{
                display: inline-block;
                width: 100%;
                padding: 10px 5px;
                border-radius: 5px;
                i{ display: inline-block; width: 45px; text-align: center;}
                span{ display: inline-block; width: calc(100% - 45px); }
                &:hover{
                    background-color: #ddd;
                }
            }
            &:hover{
                
                .sidebar-nav-item-link > i{ width: 45px; transition: none;}
                .sidebar-nav-item-link > span{ display: inline-block;}
            }
        }
    }
}

@media( max-width: $mq-sm){
    .main-sidebar{
        position: fixed;
        top: 65px;
        left: -100%;
        width: 320px;
        height: calc( 100% - 65px);
    }
        
}