.login{
  width: 100%;
  height: 100%;
  background: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &-container{
    width: 80%;
    height: 80%;
    margin: auto;
  }
  &-logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: $c-white;
    border: 3px solid $c-green;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-form{
    width: 300px;
    height: 420px;
    background: $c-green;
    color: $c-white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    h1{
      margin-bottom: 0px;
      margin-top: 8px;
      line-height: 30px;
      font-size: 25px;
    }
    .form-control{
      color: $c-white;
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $c-white;
      transition: all .5s;
      &::placeholder {
        color: $c-white;
      }
      &:focus{
        box-shadow: none;
      }
    }
    .btn-login{
      background-color: $c-blue;
      color: $c-white;
    }
    a{
      color: $c-white;
    }
  }
}
