.content-header-slider{
    display: flex;
}
.special-card{
    width: 100%;
    background-color: $card-default;
    margin: auto;
    padding: 1rem;
    display: block;
    border: 1px solid $shadow;
    box-shadow: 1px 0px 5px $shadow;
    position: relative;
    & h2{
        color: $c-blue;
        font-size: 20px;
        text-align: center;
        margin: 1.5rem 0 1rem;
    }
    &-text{
        display: inline-block;
        width: 50%;
        margin: 10px auto;
        padding-left: 1rem;
        p{
            color: $c-text;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        sub{
            color: $c-text;
            font-size: 10px;
            font-weight: lighter;
            line-height: 10px;
        }
    }
    &-graphic{
        display: inline-block;
        width: 50%;
        margin: 10px auto;
        text-align: center;
    }
    &-link{
        display: block;
        width: 100%;
        height: 20px;
        text-align: center;
        margin: 30px 0 10px;
        a{ color: $c-text; text-decoration: none;}
    }
    &:hover{
        transform: scale(1.05);
        z-index: 10;
    }
}
@media( max-width: $mq-sm){
    .special-card{
        position: static;
        margin: 5px auto;
        & h2{
            color: $c-blue;
            font-size: 20px;
            text-align: center;
            margin: 1.5rem 0 1rem;
        }
        &:hover{
            transform: none;
        }
    }
}