/*.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    flex: 0 0 33%;
    max-width: 33%;
    width: 100%;
    margin: auto;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    margin: auto;
}*/