//Header
$title-back: #fff;
$title-color: #4D88FF;
$content-back: #4D88FF;
$content-color: #fff;
$menu-icon-color: #fff;

//Sidebar
$side-back: #fff;
$side-color: #707070;

//Cards
$card-default: #fff;
$card-border: #707070;

$c-body: #EEEEEE;
$c-text: #707070;
$c-blue: #4D88FF;
$c-green: #2aa5a1;
$c-white: #fff;
$c-black: #272c33;
$shadow: rgba( #000, .2);



//Media
$mq-xs: 520px;
$mq-sm: 768px;
$mq-md: 920px;
$mq-lg: 1366px;


/*Styling html*/
/*
@font-face {
  font-family: Museo-Light;
  src: url('../fonts/Museo100-Regular.otf');
}
*/
